# Requirements
# pip install --no-deps -r requirements.txt
scikit-learn
PyMuPDF
pdf2image
panel
wandb
h5py
tqdm
dask
scipy
py4dstem
holoviews
jupyter_bokeh
pillow
torch
wandb
git+https://github.com/m3-learning/datafed-torchflow.git # datafed-torchflow
pydantic
numba
#to clone
#git+https://github.com/m3-learning/M3Learning-Util.git # M3Learning-Util
#git+https://github.com/m3-learning/AutoPhysLearn.git@generalize-model # AutoPhysLearn
